# Ігноруємо папки віртуального середовища
venv/
venv-rasa/

# Ігноруємо кеш Python
__pycache__/
*.pyc

# Ігноруємо файл зі змінними оточення
.env

# Ігноруємо файл бази даних зі станами гравців
user_states.json

# Ігноруємо системні файли
.DS_Store
